#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:30:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid-testing
#SBATCH --output /net/archive/groups/plggsano/Chexpert/slurm_outputs/slurm-%j.out
#SBATCH --error /net/archive/groups/plggsano/Chexpert/slurm_outputs/slurm-%j.err

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $PLG_GROUPS_STORAGE/plggsano/Chexpert
pwd

## Clone repository and switch into selected revision
echo Preparing computation source code
{% clone_repo SanoScience/chexpert.git %}
cd chexpert

## Load modules
echo Loading python module
module load plgrid/tools/python

## Create venv
echo Creating venv
python3 -m venv venv_chexpert
source venv_chexpert/bin/activate

echo "Installing requirements"
pip3 install -r requirements.txt

echo Finish
