#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:10:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid-gpu
#SBATCH --gres=gpu:2
#SBATCH --output /net/archive/groups/plggsano/Chexpert/slurm_outputs/slurm-%j.out
#SBATCH --error /net/archive/groups/plggsano/Chexpert/slurm_outputs/slurm-%j.err

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $SCRATCHDIR
pwd

## Clone repository and switch into selected revision
echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo SanoScience/chexpert.git %}
cd chexpert
echo --------------------END-------------------------------

## Load modules
echo Loading python module
echo --------------------START-----------------------------
module load plgrid/tools/python
echo --------------------END-------------------------------

source /net/archive/groups/plggsano/Chexpert/chexpert/venv_chexpert/bin/activate

pip install grad-cam
cp $PLG_GROUPS_STORAGE/plggsano/Chexpert/chexpert/latest.ckpt .

## Predicting
echo Start predict for: {% value_of patient_directory %}
echo --------------------START-----------------------------
python3 ./predict.py --pat_dir {% value_of patient_directory %}
echo --------------------END-------------------------------

##Staging out
{% stage_out ./prediction.txt %}

for file in *.jpg
do
    if [ -f "$file" ]
    then
        {% stage_out "$file" %}
    else
        continue
    fi
done

echo Finish
