#!/bin/bash -l
#SBATCH -J dummy_array_job_test
#SBATCH --time=00:05:00
#SBATCH --partition=plgrid-testing
#SBATCH --array=1-4%3
#SBATCH -A {{ grant_id }}

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $SCRATCHDIR

## Dummy commands
echo --------------------START-----------------------------
touch random_string_$SLURM_ARRAY_TASK_ID.txt
cat /dev/urandom | tr -dc '[:alpha:]' | fold -w ${1:-20} | head -n 1 >> random_string_$SLURM_ARRAY_TASK_ID.txt
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out random_string_$SLURM_ARRAY_TASK_ID.txt %}
echo --------------------END-------------------------------
echo Finish
